

<!--
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Facelook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/api']">Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list']">Gallery</a>
        </li>

      <li class="nav-item float-right mr-auto" id="logoutBtn">
          <span class="float-right" *ngIf="auth.isLoggedIn" >
        <a  class="btn nav-link" (click)="signout_func()" > <h4><strong>Logout</strong></h4>  </a>
      </span>
        </li>


      </ul>

    </div>
  </nav>
<a class="btn" (click)="backClicked()">Go Back</a>

-->



<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/login']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/api']">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/list']">Gallery</a>
            </li>

        </ul>
    </div>
    <div class="mx-auto order-0" *ngIf="auth.isLoggedIn">
        <a class="navbar-brand mx-auto" href="#">Facelook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" *ngIf="auth.isLoggedIn">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a  class="btn nav-link" (click)="signout_func()" > <strong>Logout</strong>  </a>
            </li>

        </ul>
    </div>
</nav>


<router-outlet></router-outlet>
